// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

$modal-content-bg:#194769;
$modal-content-color:#FFF;
$modal-header-border-color:#194769;
$modal-header-border-width:  none;
$pagination-focus-box-shadow:none;

@import "node_modules/bootstrap/scss/bootstrap";

@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/variables-dark";
@import "node_modules/bootstrap/scss/maps";
@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/root";

// Then add additional custom code here

 


    