// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

$modal-content-bg:#006769;
$modal-content-color:#FFF;
$modal-header-border-color:#006769;
$modal-header-border-width:  none;
$pagination-color:#006769;
$pagination-hover-color:#40A578;
$pagination-active-bg:#40A578;
$pagination-active-border-color:#40A578;
$pagination-focus-box-shadow:none;
$input-border-color:none;
$input-focus-border-color:none;
$input-focus-box-shadow:0 0 0 0.20rem #40A578;
$carousel-control-icon-width:5rem;
$carousel-control-icon-height:5rem;
$carousel-control-color:#f2855e;

@import "node_modules/bootstrap/scss/bootstrap";

@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/variables-dark";
@import "node_modules/bootstrap/scss/maps";
@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/root";

// Then add additional custom code here

 


    