<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product Details</title>
    <link rel="stylesheet" href="../main.css" />
    <link rel="stylesheet" href="../assets/css/pro-details-styles.css" />
  </head>
  <body>
    <div class="navbar">
      <button id="back">Back</button>
    </div>
    <div class="details"></div>
    <script src="/js/product-details.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
