.home-container {
  margin: 0 4rem;
}
.home-page-header {
  margin: 3rem 0;
  text-align: center;
}
.carousel-control-prev {
  left: 30px;
  top: 150px;
}
.carousel-control-next {
  right: 30px;
  top: 150px;
}

/*Swiper Slider*/
.swiper-slider {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  width: 100%;
  height: 100px;
  overflow-x: hidden;
  overflow-y: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch; /* Enable smooth scrolling on iOS */
}

.swiper-item {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0.5rem;
  text-align: center;
  width: 100%;
  max-height: 60px;
  max-width: 160px;
  box-shadow: #9dde8b77 0px 2px 5px 0px;
  border-radius: 5px;
  cursor: pointer;
}

.swiper-icon {
  width: 50px;
  height: 50px;
  padding: 0.75rem;
  background-color: rgba(252, 167, 136, 0.151);
  border-radius: 5px;
}
.swiper-title {
  width: 100px;
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0;
}

/*Best Seller Card*/
.best-seller-caption {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.best-sell-card-img {
  height: auto;
  max-height: 250px;
  width: 100%;
  max-width: 220px;
  margin: 0 auto;
  padding: 2rem;
  padding-bottom: 0;
}

.best-sell-card-title,
.best-sell-card-price {
  padding: 1.75rem 0 1.5rem;
}

.category-title,
.Bestsellers-title {
  margin: 4rem 0 2rem;
}
