/*Header*/
header {
  position: sticky;
  top: 0;
  z-index: 50;
}
.navbar {
  background-color: var(--navbar);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
}

.nav-link {
  color: #fff;
}
.nav-link:hover {
  color: #fff;
}
.nav-item {
  padding: 0.5rem 2rem;
  font-weight: 400;
  transition: transform 1s;
}

.nav-item:hover {
  font-weight: 500;
}

.navbar-brand-img {
  width: 100%;
  max-width: 50px;
  padding-top: 1rem;
}

/*wrapper*/
.wrapper {
  display: grid;
  grid-template-columns: 3fr 1fr;
  margin: 3rem 1rem 1rem;
}

/*button*/
.btn {
  background-color: var(--btn-color);
  color: #fff;
}

.btn-card:hover {
  color: var(--btn-color) !important;
  border: solid 1px var(--btn-color);
}

.btn-card a {
  color: #fff;
}
.btn-card a:active {
  color: #f2855e;
}
.btn-card:hover a {
  color: #f2855e;
}
.btn-search:hover {
  color: #fff !important;
  border: solid 1px var(--btn-color);
}

/*Drop Down*/
.dropdown-item{
  font-size: 1.3rem;
  font-weight: 400;
}
.dropdown-item:hover{
  background-color: #00676912;
}

.dropdown-item:active {
  color: #000;
}