.home-container {
  margin: 0 3rem;
}
.home-page-header {
  font-size: 4rem;
  font-weight: 800;
  padding: 2rem;
  text-align: center;
}
.carousel-control-prev {
  left: 30px;
  top: 150px;
}
.carousel-control-next {
  right: 30px;
  top: 150px;
}
