:root {
  --color-body: #f9fcfd;
  --border-color: #d7eef2;
  --btn-color: #f2855e;
}
html {
  /*62.5% of 16px =10px*/
  font-size: 62.5%;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

li::selection {
  background-color: inherit;
}
span::selection {
  background-color: inherit;
}
/*Typography*/

body {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  background-color: var(--color-body);
}

/*Links*/
a {
  text-decoration: none !important;
}

/*Header*/
header {
  position: sticky;
  top: 0;
  z-index: 50;
}
.navbar {
  background-color: #194769;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  margin-bottom: 1rem;
}

.nav-link {
  color: #fff;
}
.nav-link:hover {
  color: #fff;
}
.nav-item {
  padding: 0.5rem 2rem;
  font-weight: 500;
  transition: transform 1s;
}

.nav-item:hover {
  transform: scale(1.1);
}

.navbar-brand-img {
  width: 100%;
  max-width: 50px;
  padding-top: 1rem;
}
/*wrapper*/
.wrapper {
  display: grid;
  grid-template-columns: 3fr 1fr;
  margin: 3rem 1rem 1rem;
}

/*Card*/
.product-card-container {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  column-gap: 1rem;
  row-gap: 3rem;
  margin-bottom: 3rem;
}
.card {
  /* height: fit-content; */
  width: 100%;
  max-width: 280px;
  font-size: 1rem;
  border: solid 1px var(--border-color);
}
/*button*/
.btn {
  background-color: var(--btn-color);
  color: #fff;
}

.btn-card:hover {
  color: var(--btn-color) !important;
  border: solid 1px var(--btn-color);
}

.btn-card a {
  color: #fff;
}
.btn-card a:active {
  color: #f2855e;
}
.btn-card:hover a {
  color: #f2855e;
}

/*Image*/
.card-img {
  height: 100%;
}

/*Icon*/
i {
  color: #ff0000;
  cursor: pointer;
}

.shop-cart-container {
  border: solid 1px var(--border-color);
}
.shop-cart-item {
  border: none !important;
}

.total-price {
  padding: 0.5rem 1rem;
}

.product-price,
.product-count {
  font-size: 1.2rem;
}
.basket-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}
